.btn-hapus {
    background-color: #FF4D4D;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.3s, transform 0.2s;
}

.btn-hapus:hover {
    background-color: #CC0000;
    transform: scale(1.05);
}
